.c159 {
  margin-left: 0.3pt;
  padding-top: 13.1pt;
  text-indent: 0.1pt;
  padding-bottom: 0pt;
  line-height: 1.1016426086425781;
  text-align: justify;
  margin-right: 0.1pt;
}
.c73 {
  margin-left: 0.3pt;
  padding-top: 13.2pt;
  text-indent: 0.1pt;
  padding-bottom: 0pt;
  line-height: 1.1013448238372803;
  text-align: justify;
  margin-right: 0pt;
}
.c41 {
  margin-left: 0.3pt;
  padding-top: 0pt;
  text-indent: 0.5pt;
  padding-bottom: 0pt;
  line-height: 1.1016422510147095;
  text-align: justify;
  margin-right: 0.1pt;
}
.c78 {
  margin-left: 0.3pt;
  padding-top: 10.6pt;
  text-indent: 0.5pt;
  padding-bottom: 0pt;
  line-height: 1.1015435457229614;
  text-align: justify;
  margin-right: 0.1pt;
}
.c51 {
  margin-left: 0.3pt;
  padding-top: 10.6pt;
  text-indent: 0.1pt;
  padding-bottom: 0pt;
  line-height: 1.1016427278518677;
  text-align: justify;
  margin-right: 0.1pt;
}
.c163 {
  margin-left: 0.6pt;
  padding-top: 11.9pt;
  text-indent: 0.3pt;
  padding-bottom: 0pt;
  line-height: 1.1037245988845825;
  text-align: left;
  margin-right: 0.2pt;
}
.c85 {
  margin-left: 0.7pt;
  padding-top: 10.6pt;
  text-indent: 0.6pt;
  padding-bottom: 0pt;
  line-height: 1.1016422510147095;
  text-align: justify;
  margin-right: 0.1pt;
}
.c91 {
  margin-left: 0.6pt;
  padding-top: 10.6pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 1.1009488105773926;
  text-align: justify;
  margin-right: 0.2pt;
}
.c112 {
  margin-left: 0.2pt;
  padding-top: 11.9pt;
  text-indent: 0.6pt;
  padding-bottom: 0pt;
  line-height: 1.1016426086425781;
  text-align: justify;
  margin-right: 0.1pt;
}
.c76 {
  margin-left: 0.6pt;
  padding-top: 10.7pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 1.1023355722427368;
  text-align: justify;
  margin-right: 0.2pt;
}
.c162 {
  margin-left: 0.6pt;
  padding-top: 10.6pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 1.1023366451263428;
  text-align: justify;
  margin-right: 0.2pt;
}
.c70 {
  margin-left: 0.3pt;
  padding-top: 10.6pt;
  text-indent: 0.5pt;
  padding-bottom: 0pt;
  line-height: 1.1015652418136597;
  text-align: justify;
  margin-right: 0.1pt;
}
.c94 {
  margin-left: 0.3pt;
  padding-top: 10.7pt;
  text-indent: 0.5pt;
  padding-bottom: 0pt;
  line-height: 1.1015040874481201;
  text-align: justify;
  margin-right: 0.1pt;
}
.c99 {
  margin-left: 0.7pt;
  padding-top: 10.6pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 1.1016422510147095;
  text-align: justify;
  margin-right: 0.2pt;
}
.c126 {
  margin-left: 0.6pt;
  padding-top: 2.3pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 1.1037245988845825;
  text-align: left;
  margin-right: 0.3pt;
}
.c35 {
  margin-left: 0.6pt;
  padding-top: 10.6pt;
  text-indent: 0.3pt;
  padding-bottom: 0pt;
  line-height: 1.1016422510147095;
  text-align: justify;
  margin-right: 0.1pt;
}
.c100 {
  margin-left: 0.6pt;
  padding-top: 10.6pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 1.0995597839355469;
  text-align: left;
  margin-right: 0.2pt;
}
.c98 {
  margin-left: 0.3pt;
  padding-top: 0pt;
  text-indent: 0.3pt;
  padding-bottom: 0pt;
  line-height: 1.1016422510147095;
  text-align: justify;
  margin-right: 0pt;
}
.c96 {
  margin-left: 0.6pt;
  padding-top: 0pt;
  text-indent: 0.3pt;
  padding-bottom: 0pt;
  line-height: 1.099557638168335;
  text-align: left;
  margin-right: 0.1pt;
}
.c13 {
  margin-left: 0.3pt;
  padding-top: 10.6pt;
  text-indent: 0.5pt;
  padding-bottom: 0pt;
  line-height: 1.1023370027542114;
  text-align: justify;
  margin-right: 0.2pt;
}
.c18 {
  margin-left: 0.3pt;
  padding-top: 10.6pt;
  text-indent: 0.9pt;
  padding-bottom: 0pt;
  line-height: 1.10164213180542;
  text-align: justify;
  margin-right: 0.2pt;
}
.c55 {
  margin-left: 0.6pt;
  padding-top: 10.6pt;
  text-indent: 0.3pt;
  padding-bottom: 0pt;
  line-height: 1.1015431880950928;
  text-align: justify;
  margin-right: 0.1pt;
}
.c7 {
  margin-left: 0.6pt;
  padding-top: 10.6pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 1.1016432046890259;
  text-align: justify;
  margin-right: 0.2pt;
}
.c148 {
  margin-left: 0.6pt;
  padding-top: 10.7pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 1.1009488105773926;
  text-align: justify;
  margin-right: 0.1pt;
}
.c81 {
  margin-left: 0.3pt;
  padding-top: 10.6pt;
  text-indent: 0.5pt;
  padding-bottom: 0pt;
  line-height: 1.10164213180542;
  text-align: justify;
  margin-right: 0pt;
}
.c101 {
  margin-left: 0.6pt;
  padding-top: 13.1pt;
  text-indent: -0.2pt;
  padding-bottom: 0pt;
  line-height: 1.1027988195419312;
  text-align: justify;
  margin-right: 0.1pt;
}
.c72 {
  margin-left: 0.6pt;
  padding-top: 10.7pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 1.1037245988845825;
  text-align: left;
  margin-right: 0.3pt;
}
.c28 {
  margin-left: 0.3pt;
  padding-top: 0pt;
  text-indent: 0.5pt;
  padding-bottom: 0pt;
  line-height: 1.101989507675171;
  text-align: justify;
  margin-right: 0.2pt;
}
.c150 {
  margin-left: 0.6pt;
  padding-top: 10.6pt;
  text-indent: 0.6pt;
  padding-bottom: 0pt;
  line-height: 1.1016432046890259;
  text-align: justify;
  margin-right: 0.2pt;
}
.c19 {
  margin-left: 0.3pt;
  padding-top: 0pt;
  text-indent: 0.5pt;
  padding-bottom: 0pt;
  line-height: 1.1016957759857178;
  text-align: justify;
  margin-right: 0pt;
}
.c95 {
  margin-left: 0.7pt;
  padding-top: 10.7pt;
  text-indent: 0.1pt;
  padding-bottom: 0pt;
  line-height: 1.1023359298706055;
  text-align: justify;
  margin-right: 0.2pt;
}
.c20 {
  margin-left: 0.7pt;
  padding-top: 10.6pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 1.0995608568191528;
  text-align: left;
  margin-right: 0.2pt;
}
.c0 {
  margin-left: 0.3pt;
  padding-top: 10.6pt;
  text-indent: 0.5pt;
  padding-bottom: 0pt;
  line-height: 1.101729393005371;
  text-align: justify;
  margin-right: 0pt;
}
.c56 {
  margin-left: 0.6pt;
  padding-top: 10.6pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 1.1023367643356323;
  text-align: justify;
  margin-right: 0.2pt;
}
.c21 {
  margin-left: 0.3pt;
  padding-top: 13.1pt;
  text-indent: 1pt;
  padding-bottom: 0pt;
  line-height: 1.1023370027542114;
  text-align: justify;
  margin-right: 0.1pt;
}
.c57 {
  margin-left: 0.6pt;
  padding-top: 11.9pt;
  text-indent: 0.3pt;
  padding-bottom: 0pt;
  line-height: 1.1016422510147095;
  text-align: justify;
  margin-right: 0.2pt;
}
.c89 {
  margin-left: 0.6pt;
  padding-top: 10.6pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 1.1016427278518677;
  text-align: justify;
  margin-right: 0pt;
}
.c123 {
  margin-left: 0.9pt;
  padding-top: 13.2pt;
  text-indent: -0.5pt;
  padding-bottom: 0pt;
  line-height: 1.099557638168335;
  text-align: left;
  margin-right: 0.3pt;
}
.c122 {
  margin-left: 0.3pt;
  padding-top: 0pt;
  text-indent: 0.3pt;
  padding-bottom: 0pt;
  line-height: 1.1009472608566284;
  text-align: justify;
  margin-right: 0.1pt;
}
.c63 {
  margin-left: 0.9pt;
  padding-top: 10.7pt;
  text-indent: -0.1pt;
  padding-bottom: 0pt;
  line-height: 1.0995608568191528;
  text-align: left;
  margin-right: 0.2pt;
}
.c17 {
  margin-left: 0.3pt;
  padding-top: 10.6pt;
  text-indent: 0.5pt;
  padding-bottom: 0pt;
  line-height: 1.1013449430465698;
  text-align: justify;
  margin-right: 0pt;
}
.c149 {
  margin-left: 0.6pt;
  padding-top: 13.1pt;
  text-indent: -0.3pt;
  padding-bottom: 0pt;
  line-height: 1.1037245988845825;
  text-align: left;
  margin-right: 0.2pt;
}
.c158 {
  margin-left: 0.6pt;
  padding-top: 10.7pt;
  text-indent: 0.3pt;
  padding-bottom: 0pt;
  line-height: 1.0995597839355469;
  text-align: left;
  margin-right: 0.2pt;
}
.c30 {
  margin-left: 0.6pt;
  padding-top: 10.7pt;
  text-indent: -0.2pt;
  padding-bottom: 0pt;
  line-height: 1.799281120300293;
  text-align: left;
  margin-right: 100pt;
}
.c5 {
  margin-left: 0.8pt;
  padding-top: 13.1pt;
  text-indent: -0.5pt;
  padding-bottom: 0pt;
  line-height: 1.7951140403747559;
  text-align: left;
  margin-right: 98.6pt;
}
.c141 {
  margin-left: 0.3pt;
  padding-top: 13.1pt;
  text-indent: 0pt;
  padding-bottom: 0pt;
  line-height: 1.101873755455017;
  text-align: justify;
  margin-right: 0pt;
}
.c93 {
  margin-left: 1pt;
  padding-top: 10.7pt;
  text-indent: -0.2pt;
  padding-bottom: 0pt;
  line-height: 1.1037245988845825;
  text-align: left;
  margin-right: 0.3pt;
}
.c4 {
  margin-left: 0.6pt;
  padding-top: 10.6pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 1.1016422510147095;
  text-align: justify;
  margin-right: 0pt;
}
.c69 {
  margin-left: 0.6pt;
  padding-top: 10.6pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 1.1015037298202515;
  text-align: justify;
  margin-right: 0.1pt;
}
.c39 {
  margin-left: 0.3pt;
  padding-top: 10.6pt;
  text-indent: 0.5pt;
  padding-bottom: 0pt;
  line-height: 1.1015433073043823;
  text-align: justify;
  margin-right: 0.1pt;
}
.c6 {
  color: inherit;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: 'Arial';
  font-style: normal;
}
.c67 {
  margin-left: 0.6pt;
  padding-top: 0pt;
  text-indent: 0.1pt;
  padding-bottom: 0pt;
  line-height: 1.099557638168335;
  text-align: left;
  margin-right: 0.2pt;
}
.c65 {
  margin-left: 0.6pt;
  padding-top: 10.6pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 1.1023362874984741;
  text-align: justify;
  margin-right: 0.1pt;
}
.c110 {
  margin-left: 0.2pt;
  padding-top: 10.6pt;
  text-indent: -0.1pt;
  padding-bottom: 0pt;
  line-height: 1.1016422510147095;
  text-align: justify;
  margin-right: 0.1pt;
}
.c140 {
  margin-left: 0.9pt;
  padding-top: 11.8pt;
  text-indent: -0.1pt;
  padding-bottom: 0pt;
  line-height: 1.1016422510147095;
  text-align: justify;
  margin-right: 0pt;
}
.c66 {
  margin-left: 0.3pt;
  padding-top: 10.7pt;
  text-indent: 0.5pt;
  padding-bottom: 0pt;
  line-height: 1.0995597839355469;
  text-align: left;
  margin-right: 0.2pt;
}
.c26 {
  margin-left: 0.3pt;
  padding-top: 0pt;
  text-indent: 0.8pt;
  padding-bottom: 0pt;
  line-height: 1.1017811298370361;
  text-align: justify;
  margin-right: 0pt;
}
.c42 {
  margin-left: 0.3pt;
  padding-top: 10.6pt;
  text-indent: 0.5pt;
  padding-bottom: 0pt;
  line-height: 1.102799415588379;
  text-align: justify;
  margin-right: 0.1pt;
}
.c115 {
  margin-left: 0.9pt;
  padding-top: 0pt;
  text-indent: 0.1pt;
  padding-bottom: 0pt;
  line-height: 1.099557638168335;
  text-align: left;
  margin-right: 0.2pt;
}
.c125 {
  margin-left: 0.6pt;
  padding-top: 10.7pt;
  text-indent: 0.3pt;
  padding-bottom: 0pt;
  line-height: 1.1013453006744385;
  text-align: justify;
  margin-right: 0pt;
}
.c145 {
  margin-left: 0.6pt;
  padding-top: 10.7pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 1.099557638168335;
  text-align: left;
  margin-right: 0.2pt;
}
.c16 {
  margin-left: 0.6pt;
  padding-top: 10.7pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 1.0995597839355469;
  text-align: left;
  margin-right: 0.2pt;
}
.c74 {
  margin-left: 1.1pt;
  padding-top: 10.7pt;
  text-indent: -0.3pt;
  padding-bottom: 0pt;
  line-height: 1.1037267446517944;
  text-align: left;
  margin-right: 0.2pt;
}
.c88 {
  margin-left: 0.3pt;
  padding-top: 10.7pt;
  text-indent: 0.5pt;
  padding-bottom: 0pt;
  line-height: 1.1009483337402344;
  text-align: justify;
  margin-right: 0.2pt;
}
.c75 {
  margin-left: 0.7pt;
  padding-top: 11.9pt;
  text-indent: 0.1pt;
  padding-bottom: 0pt;
  line-height: 1.1051126718521118;
  text-align: left;
  margin-right: 0.2pt;
}
.c104 {
  margin-left: 0.3pt;
  padding-top: 0pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 1.1015031337738037;
  text-align: justify;
  margin-right: 0pt;
}
.c48 {
  margin-left: 0.3pt;
  padding-top: 10.6pt;
  text-indent: 0.5pt;
  padding-bottom: 0pt;
  line-height: 1.1018158197402954;
  text-align: justify;
  margin-right: 0.1pt;
}
.c10 {
  margin-left: 0.3pt;
  padding-top: 10.6pt;
  text-indent: 0.9pt;
  padding-bottom: 0pt;
  line-height: 1.1016422510147095;
  text-align: justify;
  margin-right: 0.2pt;
}
.c64 {
  margin-left: 0.6pt;
  padding-top: 10.6pt;
  text-indent: 0.3pt;
  padding-bottom: 0pt;
  line-height: 1.1021381616592407;
  text-align: justify;
  margin-right: 0.1pt;
}
.c134 {
  margin-left: 0.3pt;
  padding-top: 15.3pt;
  text-indent: 0pt;
  padding-bottom: 0pt;
  line-height: 1.1023370027542114;
  text-align: justify;
  margin-right: 0.1pt;
}
.c43 {
  margin-left: 0.3pt;
  padding-top: 10.6pt;
  text-indent: 0.5pt;
  padding-bottom: 0pt;
  line-height: 1.102059245109558;
  text-align: justify;
  margin-right: 0.1pt;
}
.c113 {
  margin-left: 1pt;
  padding-top: 10.6pt;
  text-indent: -0.2pt;
  padding-bottom: 0pt;
  line-height: 1.0995618104934692;
  text-align: left;
  margin-right: 0.2pt;
}
.c138 {
  margin-left: 0.6pt;
  padding-top: 10.7pt;
  text-indent: 0.3pt;
  padding-bottom: 0pt;
  line-height: 1.1037267446517944;
  text-align: left;
  margin-right: 0.2pt;
}
.c153 {
  margin-left: 1.2pt;
  padding-top: 11.9pt;
  text-indent: -0.3pt;
  padding-bottom: 0pt;
  line-height: 1.099557638168335;
  text-align: left;
  margin-right: 0.1pt;
}
.c2 {
  color: inherit;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: 'Arial';
  font-style: normal;
}
.c114 {
  margin-left: 0.3pt;
  padding-top: 13.2pt;
  text-indent: 0pt;
  padding-bottom: 0pt;
  line-height: 1.1016428470611572;
  text-align: justify;
  margin-right: 0.1pt;
}
.c157 {
  margin-left: 0.3pt;
  padding-top: 10.6pt;
  text-indent: 0.9pt;
  padding-bottom: 0pt;
  line-height: 1.1015435457229614;
  text-align: justify;
  margin-right: 0pt;
}
.c136 {
  margin-left: 0.6pt;
  padding-top: 10.6pt;
  text-indent: 0.3pt;
  padding-bottom: 0pt;
  line-height: 1.1018738746643066;
  text-align: justify;
  margin-right: 0.1pt;
}
.c82 {
  color: inherit;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: 'Arial';
  font-style: normal;
}
.c49 {
  margin-left: 0.2pt;
  padding-top: 10.6pt;
  text-indent: 0.6pt;
  padding-bottom: 0pt;
  line-height: 1.1009488105773926;
  text-align: justify;
  margin-right: 0pt;
}
.c38 {
  margin-left: 0.3pt;
  padding-top: 10.6pt;
  text-indent: 0.5pt;
  padding-bottom: 0pt;
  line-height: 1.1023366451263428;
  text-align: justify;
  margin-right: 0.1pt;
}
.c97 {
  margin-left: 0.6pt;
  padding-top: 10.6pt;
  text-indent: 0.3pt;
  padding-bottom: 0pt;
  line-height: 1.1016417741775513;
  text-align: justify;
  margin-right: 0.2pt;
}
.c160 {
  color: inherit;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 28pt;
  font-family: 'Arial';
  font-style: normal;
}
.c68 {
  margin-left: 0.7pt;
  padding-top: 10.6pt;
  text-indent: -0.3pt;
  padding-bottom: 0pt;
  line-height: 1.1016432046890259;
  text-align: justify;
  margin-right: 0.2pt;
}
.c120 {
  margin-left: 0.6pt;
  padding-top: 10.7pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 1.101226568222046;
  text-align: justify;
  margin-right: 0pt;
}
.c87 {
  margin-left: 1pt;
  padding-top: 10.6pt;
  text-indent: -0.1pt;
  padding-bottom: 0pt;
  line-height: 1.0995597839355469;
  text-align: left;
  margin-right: 0.2pt;
}
.c32 {
  margin-left: 0.3pt;
  padding-top: 10.6pt;
  text-indent: 0.5pt;
  padding-bottom: 0pt;
  line-height: 1.1016422510147095;
  text-align: justify;
  margin-right: 0.1pt;
}
.c135 {
  margin-left: 0.7pt;
  padding-top: 13.2pt;
  text-indent: 0.6pt;
  padding-bottom: 0pt;
  line-height: 1.10141122341156;
  text-align: justify;
  margin-right: 0.1pt;
}
.c44 {
  margin-left: 0.3pt;
  padding-top: 10.6pt;
  text-indent: -0.1pt;
  padding-bottom: 0pt;
  line-height: 1.1027995347976685;
  text-align: justify;
  margin-right: 0.2pt;
}
.c12 {
  color: inherit;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: 'Arial';
  font-style: italic;
}
.c62 {
  margin-left: 0.3pt;
  padding-top: 10.6pt;
  text-indent: 0.4pt;
  padding-bottom: 0pt;
  line-height: 1.1023366451263428;
  text-align: justify;
  margin-right: 0.2pt;
}
.c29 {
  margin-left: 1.1pt;
  padding-top: 11.9pt;
  text-indent: -0.3pt;
  padding-bottom: 0pt;
  line-height: 1.1016422510147095;
  text-align: justify;
  margin-right: 0.2pt;
}
.c37 {
  margin-left: 0.6pt;
  padding-top: 10.6pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 1.1016422510147095;
  text-align: justify;
  margin-right: 0.2pt;
}
.c22 {
  margin-left: 0.6pt;
  padding-top: 10.6pt;
  text-indent: -0.3pt;
  padding-bottom: 0pt;
  line-height: 1.10164213180542;
  text-align: justify;
  margin-right: 0.2pt;
}
.c53 {
  margin-left: 1.1pt;
  padding-top: 11.9pt;
  text-indent: -0.3pt;
  padding-bottom: 0pt;
  line-height: 1.099557638168335;
  text-align: left;
  margin-right: 0.2pt;
}
.c92 {
  margin-left: 0.7pt;
  padding-top: 0pt;
  text-indent: -0.3pt;
  padding-bottom: 0pt;
  line-height: 1.1016422510147095;
  text-align: justify;
  margin-right: 0.2pt;
}
.c84 {
  margin-left: 0.3pt;
  padding-top: 10.6pt;
  text-indent: 0.5pt;
  padding-bottom: 0pt;
  line-height: 1.1009479761123657;
  text-align: justify;
  margin-right: 0pt;
}
.c15 {
  color: inherit;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 18pt;
  font-family: 'Arial';
  font-style: normal;
}
.c86 {
  margin-left: 0.3pt;
  padding-top: 10.6pt;
  text-indent: 0.5pt;
  padding-bottom: 0pt;
  line-height: 1.1017582416534424;
  text-align: justify;
  margin-right: 0.2pt;
}
.c50 {
  margin-left: 0.6pt;
  padding-top: 10.6pt;
  text-indent: 0.3pt;
  padding-bottom: 0pt;
  line-height: 1.1016422510147095;
  text-align: justify;
  margin-right: 0.2pt;
}
.c60 {
  margin-left: 0.3pt;
  padding-top: 13.2pt;
  text-indent: 0pt;
  padding-bottom: 0pt;
  line-height: 1.1013449430465698;
  text-align: justify;
  margin-right: 0pt;
}
.c144 {
  margin-left: 0.4pt;
  padding-top: 10.6pt;
  text-indent: 0.4pt;
  padding-bottom: 0pt;
  line-height: 1.1015435457229614;
  text-align: justify;
  margin-right: 0.2pt;
}
.c71 {
  margin-left: 1pt;
  padding-top: 10.7pt;
  text-indent: -0.2pt;
  padding-bottom: 0pt;
  line-height: 1.1037224531173706;
  text-align: left;
  margin-right: 0.3pt;
}
.c27 {
  margin-left: 0.3pt;
  padding-top: 10.6pt;
  text-indent: 0.5pt;
  padding-bottom: 0pt;
  line-height: 1.0995618104934692;
  text-align: left;
  margin-right: 0.2pt;
}
.c155 {
  margin-left: 0.7pt;
  padding-top: 11.8pt;
  text-indent: 0.6pt;
  padding-bottom: 0pt;
  line-height: 1.1023370027542114;
  text-align: justify;
  margin-right: 0.2pt;
}
.c31 {
  margin-left: 1.1pt;
  padding-top: 0pt;
  text-indent: -0.3pt;
  padding-bottom: 0pt;
  line-height: 1.099557638168335;
  text-align: left;
  margin-right: 0.2pt;
}
.c59 {
  margin-left: 1.1pt;
  padding-top: 13.1pt;
  text-indent: -0.8pt;
  padding-bottom: 0pt;
  line-height: 1.1037245988845825;
  text-align: left;
  margin-right: 0.3pt;
}
.c156 {
  margin-left: 0.6pt;
  padding-top: 13.1pt;
  text-indent: 0.3pt;
  padding-bottom: 0pt;
  line-height: 1.10164213180542;
  text-align: justify;
  margin-right: 0.1pt;
}
.c128 {
  margin-left: 0.3pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.1015887260437012;
  text-align: justify;
  margin-right: 0.1pt;
}
.c116 {
  margin-left: 0.3pt;
  padding-top: 10.6pt;
  padding-bottom: 0pt;
  line-height: 1.1015890836715698;
  text-align: justify;
  margin-right: 0.2pt;
}
.c137 {
  margin-left: 0.3pt;
  padding-top: 10.6pt;
  padding-bottom: 0pt;
  line-height: 1.1015652418136597;
  text-align: justify;
  margin-right: 0pt;
}
.c103 {
  margin-left: 0.3pt;
  padding-top: 10.6pt;
  padding-bottom: 0pt;
  line-height: 1.1009479761123657;
  text-align: justify;
  margin-right: 0.1pt;
}
.c133 {
  margin-left: 0.3pt;
  padding-top: 10.7pt;
  padding-bottom: 0pt;
  line-height: 1.1016422510147095;
  text-align: justify;
  margin-right: 0.2pt;
}
.c161 {
  margin-left: 0.3pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.1017811298370361;
  text-align: justify;
  margin-right: 0.2pt;
}
.c46 {
  margin-left: 0.8pt;
  padding-top: 10.6pt;
  padding-bottom: 0pt;
  line-height: 1.7951152324676514;
  text-align: left;
  margin-right: 73pt;
}
.c164 {
  margin-left: 0.3pt;
  padding-top: 10.6pt;
  padding-bottom: 0pt;
  line-height: 1.1017813682556152;
  text-align: justify;
  margin-right: 0pt;
}
.c151 {
  margin-left: 0.3pt;
  padding-top: 10.6pt;
  padding-bottom: 0pt;
  line-height: 1.1012260913848877;
  text-align: justify;
  margin-right: 0.2pt;
}
.c143 {
  margin-left: 0.7pt;
  padding-top: 10.6pt;
  padding-bottom: 0pt;
  line-height: 1.1009483337402344;
  text-align: center;
  margin-right: 0.1pt;
}
.c79 {
  margin-left: 0.6pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.101989507675171;
  text-align: justify;
  margin-right: 0.2pt;
}
.c105 {
  margin-left: 0.3pt;
  padding-top: 10.6pt;
  padding-bottom: 0pt;
  line-height: 1.102059006690979;
  text-align: justify;
  margin-right: 0.2pt;
}
.c77 {
  margin-left: 0.3pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.1009472608566284;
  text-align: justify;
  margin-right: 0.2pt;
}
.c121 {
  margin-left: 0.3pt;
  padding-top: 10.7pt;
  padding-bottom: 0pt;
  line-height: 1.1013449430465698;
  text-align: justify;
  margin-right: 0pt;
}
.c131 {
  margin-left: 0.3pt;
  padding-top: 10.6pt;
  padding-bottom: 0pt;
  line-height: 1.1016422510147095;
  text-align: justify;
  margin-right: 0.2pt;
}
.c129 {
  margin-left: 0.3pt;
  padding-top: 10.7pt;
  padding-bottom: 0pt;
  line-height: 1.1015794277191162;
  text-align: justify;
  margin-right: 0.1pt;
}
.c109 {
  margin-left: 0.3pt;
  padding-top: 10.7pt;
  padding-bottom: 0pt;
  line-height: 1.1016427278518677;
  text-align: justify;
  margin-right: 0.1pt;
}
.c142 {
  margin-left: 0.3pt;
  padding-top: 2.3pt;
  padding-bottom: 0pt;
  line-height: 1.1016427278518677;
  text-align: justify;
  margin-right: 0pt;
}
.c154 {
  margin-left: 0.3pt;
  padding-top: 10.6pt;
  padding-bottom: 0pt;
  line-height: 1.1016432046890259;
  text-align: justify;
  margin-right: 0.2pt;
}
.c152 {
  margin-left: 0.3pt;
  padding-top: 13.1pt;
  padding-bottom: 0pt;
  line-height: 1.101873755455017;
  text-align: justify;
  margin-right: 0.1pt;
}
.c165 {
  margin-left: 0.3pt;
  padding-top: 10.6pt;
  padding-bottom: 0pt;
  line-height: 1.1023370027542114;
  text-align: justify;
  margin-right: 0pt;
}
.c106 {
  margin-left: 0.3pt;
  padding-top: 10.6pt;
  padding-bottom: 0pt;
  line-height: 1.1009483337402344;
  text-align: justify;
  margin-right: 0.2pt;
}
.c147 {
  margin-left: 0.3pt;
  padding-top: 10.7pt;
  padding-bottom: 0pt;
  line-height: 1.1013449430465698;
  text-align: justify;
  margin-right: 0.1pt;
}
.c146 {
  margin-left: 0.3pt;
  padding-top: 11.9pt;
  padding-bottom: 0pt;
  line-height: 1.1016427278518677;
  text-align: justify;
  margin-right: 0.1pt;
}
.c108 {
  margin-left: 0.3pt;
  padding-top: 10.7pt;
  padding-bottom: 0pt;
  line-height: 1.1015795469284058;
  text-align: justify;
  margin-right: 0pt;
}
.c117 {
  margin-left: 0.3pt;
  padding-top: 10.7pt;
  padding-bottom: 0pt;
  line-height: 1.1027995347976685;
  text-align: justify;
  margin-right: 0.2pt;
}
.c124 {
  margin-left: 0.3pt;
  padding-top: 10.6pt;
  padding-bottom: 0pt;
  line-height: 1.1009479761123657;
  text-align: justify;
  margin-right: 0.2pt;
}
.c34 {
  margin-left: 0.3pt;
  padding-top: 13.2pt;
  padding-bottom: 0pt;
  line-height: 1.10164213180542;
  text-align: justify;
  margin-right: 0.1pt;
}
.c139 {
  margin-left: 0.3pt;
  padding-top: 10.6pt;
  padding-bottom: 0pt;
  line-height: 1.1016429662704468;
  text-align: justify;
  margin-right: 0.1pt;
}
.c47 {
  margin-left: 0.8pt;
  padding-top: 11.9pt;
  padding-bottom: 0pt;
  line-height: 1.7951140403747559;
  text-align: left;
  margin-right: 18.6pt;
}
.c107 {
  margin-left: 0.8pt;
  padding-top: 10.7pt;
  padding-bottom: 0pt;
  line-height: 1.7951140403747559;
  text-align: left;
  margin-right: 103.7pt;
}
.c118 {
  margin-left: 0.3pt;
  padding-top: 10.7pt;
  padding-bottom: 0pt;
  line-height: 1.1014822721481323;
  text-align: justify;
  margin-right: 0.1pt;
}
.c132 {
  padding-top: 13.2pt;
  text-indent: 0.3pt;
  padding-bottom: 0pt;
  line-height: 1.1015654802322388;
  text-align: justify;
  margin-right: 0.1pt;
}
.c127 {
  margin-left: 0.3pt;
  padding-top: 10.7pt;
  padding-bottom: 0pt;
  line-height: 1.101453185081482;
  text-align: justify;
  margin-right: 0.1pt;
}
.c83 {
  margin-left: 0.6pt;
  padding-top: 2.3pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c9 {
  margin-left: 1.6pt;
  padding-top: 10.3pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c119 {
  margin-left: 0.3pt;
  padding-top: 10.7pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c8 {
  margin-left: 0.6pt;
  padding-top: 11.9pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c3 {
  margin-left: 0.8pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c80 {
  margin-left: 0.9pt;
  padding-top: 10.3pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c40 {
  margin-left: 1.5pt;
  padding-top: 10.3pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c45 {
  margin-left: 0.8pt;
  padding-top: 10.6pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c36 {
  margin-left: 1.8pt;
  padding-top: 10.3pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c90 {
  margin-left: 0.3pt;
  padding-top: 10.7pt;
  padding-bottom: 0pt;
  line-height: 1.1016428470611572;
  text-align: justify;
}
.c11 {
  margin-left: 1pt;
  padding-top: 10.3pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c23 {
  margin-left: 0.8pt;
  padding-top: 2.3pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c58 {
  margin-left: 1pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c33 {
  margin-left: 0.4pt;
  padding-top: 11.5pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c54 {
  margin-left: 1.7pt;
  padding-top: 10.3pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c1 {
  margin-left: 0.8pt;
  padding-top: 11.9pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c52 {
  margin-left: 0.8pt;
  padding-top: 10.7pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c61 {
  margin-left: 1.7pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c24 {
  margin-left: 0.6pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c130 {
  margin-left: 0.5pt;
  padding-top: 10.3pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c111 {
  margin-left: 1.1pt;
  padding-top: 10.6pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c25 {
  margin-left: 1pt;
  padding-top: 10.4pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c14 {
  background-color: #ffffff;
  max-width: 471.6pt;
  padding: 70.2pt 68.6pt 75.8pt 71.8pt;
}
.c102 {
  text-indent: 0.5pt;
}
.title {
  padding-top: 24pt;
  color: inherit;
  font-weight: 700;
  font-size: 36pt;
  padding-bottom: 6pt;
  font-family: 'Arial';
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.subtitle {
  padding-top: 18pt;
  color: #666666;
  font-size: 24pt;
  padding-bottom: 4pt;
  font-family: 'Georgia';
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.p {
  margin: 0;
  color: inherit;
  font-size: 11pt;
  font-family: 'Arial';
}
.li {
  color: inherit;
  font-size: 11pt;
  font-family: 'Arial';
}
.h1 {
  padding-top: 24pt;
  color: inherit;
  font-weight: 700;
  font-size: 24pt;
  padding-bottom: 6pt;
  font-family: 'Arial';
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.h2 {
  padding-top: 18pt;
  color: inherit;
  font-weight: 700;
  font-size: 18pt;
  padding-bottom: 4pt;
  font-family: 'Arial';
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.h3 {
  padding-top: 14pt;
  color: inherit;
  font-weight: 700;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: 'Arial';
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.h4 {
  padding-top: 12pt;
  color: inherit;
  font-weight: 700;
  font-size: 12pt;
  padding-bottom: 2pt;
  font-family: 'Arial';
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.h5 {
  padding-top: 11pt;
  color: inherit;
  font-weight: 700;
  font-size: 11pt;
  padding-bottom: 2pt;
  font-family: 'Arial';
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.h6 {
  padding-top: 10pt;
  color: inherit;
  font-weight: 700;
  font-size: 10pt;
  padding-bottom: 2pt;
  font-family: 'Arial';
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.ol {
  margin: 0;
  padding: 0;
}
.table .td,
.table .th {
  padding: 0;
}
